/*
Name: Adeel Asif
File: style.css
Date: October 2025
Description: CSS for Typesetting a Homepage assignment.
*/

body {
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: #222;
  color: #fff;
  padding: 2em 0;
}